/* Header.css */
header {
    background-color: #282a36;
    color: #f8f8f2;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15; /* Ensure header stays above other elements */
    position: relative;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
