body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1c1c1c;
  color: #f8f8f2;
  overflow: hidden;
  /* Hide body overflow to prevent unnecessary scrollbars */
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* Set full height of the viewport */
  overflow: auto;
  /* Enable vertical scrolling when content overflows */
}

.buttons-container {
  margin-bottom: 20px;
  /* Adjust the margin as needed */
  /* margin-top: 80px;  */
}

.buttons-container-inner {
  display: none;
}

.buttons-container>div:first-child,
.buttons-container>p:first-child,
.buttons-container-inner>div:first-child,
.buttons-container-inner>p:first-child {
  padding: 12px 20px;
  background: linear-gradient(135deg, #3f51b5, #2196f3);
  color: #fff;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  text-align: center;
  display: block;

  &:hover {
    background: linear-gradient(135deg, #2196f3, #3f51b5);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(33, 150, 243, 0.3);
    color: #eee;
  }
}

.editors-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 120px);
  /* Adjust the min-height as needed (considering header and footer) */
  justify-content: space-around;
  /* overflow: auto;  */
  position: relative;
}


/*===============< Tool tip related styles >==============*/
.editor-buttons {
  position: absolute;
  top: 1%;
  right: 2%;
  z-index: 16;
}

.editor-buttons>button:first-child {
  padding: 0px;
  background-color: #61dafb;
  color: #282a36;
  cursor: pointer;
}

.editor-buttons>button:hover {
  background-color: #44475a;
}

.cog-button,
.dropdown-content>div {
  z-index: 16;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  /* background-color: none; */
  background-color: #282a36;
  color: #fff;
  border: 2px solid #61dafb;
  text-align: center;
  cursor: pointer;
  width: 35px;
  /* Adjust the width to maintain a circular shape */
  height: 35px;
  /* Adjust the height to maintain a circular shape */
  border-radius: 100%;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #44475a;
    color: #fff;
    border: 2.5px solid #61dafb;
  }
}

button:hover {
  background-color: #0d47a1;
}


/* Add these styles for the dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  z-index: 16;
  border-radius: 100%;
  /* Set border-radius to 50% for a circular shape */
}

.dropdown.open .dropdown-content {
  display: block;
}

.rotate {
  transform: rotate(90deg);
  /* Rotate the cog icon when dropdown is open */
}

/*===============< Line Amination >==============*/
#particles-js {
  background-color: #1c1c1c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-lines {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.line {
  position: absolute;
  background-color: #42a5f5;
  /* Line color */
  height: 1px;
  width: 100vw;
  transform-origin: 0% 100%;
  animation: attractLine 2s linear infinite;
}

@keyframes attractLine {
  to {
    transform: scaleY(100) translateY(-50vh);
  }
}